In [1]:
pip install boto3

Requirement already satisfied: boto3 in c:\users\gaurav\anaconda3\envs\pythondata\lib\site-packages (1.23.9)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: s3transfer<0.6.0,>=0.5.0 in c:\users\gaurav\anaconda3\envs\pythondata\lib\site-packages (from boto3) (0.5.2)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in c:\users\gaurav\anaconda3\envs\pythondata\lib\site-packages (from boto3) (1.0.0)

Requirement already satisfied: botocore<1.27.0,>=1.26.9 in c:\users\gaurav\anaconda3\envs\pythondata\lib\site-packages (from boto3) (1.26.9)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in c:\users\gaurav\anaconda3\envs\pythondata\lib\site-packages (from botocore<1.27.0,>=1.26.9->boto3) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in c:\users\gaurav\anaconda3\envs\pythondata\lib\site-packages (from botocore<1.27.0,>=1.26.9->boto3) (1.26.7)
Requirement already satisfied: six>=1.5 in c:\users\gaurav\anaconda3\envs\pythondata\lib\site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.27.0,>=1.26.9->boto3) (1.16.0)

In [2]:
# import boto3 here
import boto3

# config file dependency
from config import access_key_id, secret_access_key

In [3]:
s3 = boto3.resource(
    service_name='s3',
    region_name='us-east-2',
    aws_access_key_id=access_key_id,
    aws_secret_access_key=secret_access_key
)

In [4]:
# Print out bucket names
for bucket in s3.buckets.all():
    print(bucket.name)

databootnayan-bucket
nayanb-bucket

In [5]:
import pandas as pd

# make a dataframe and print
data = pd.read_csv(r'..\Resources\sentiment_analysis_10k.csv',encoding = "ISO-8859-1")
df = pd.DataFrame(data)

print (df)

       polarity          id                          date     query  \
0             0  2051199119  Fri Jun 05 21:04:50 PDT 2009  NO_QUERY
1             0  2051199378  Fri Jun 05 21:04:56 PDT 2009  NO_QUERY
2             0  2051200441  Fri Jun 05 21:05:17 PDT 2009  NO_QUERY
3             0  2051201409  Fri Jun 05 21:05:36 PDT 2009  NO_QUERY
4             0  2051201881  Fri Jun 05 21:05:46 PDT 2009  NO_QUERY
...         ...         ...                           ...       ...
19995         4  1690832374  Sun May 03 16:28:55 PDT 2009  NO_QUERY
19996         4  1690832378  Sun May 03 16:28:55 PDT 2009  NO_QUERY
19997         4  1690832412  Sun May 03 16:28:55 PDT 2009  NO_QUERY
19998         4  1690832415  Sun May 03 16:28:55 PDT 2009  NO_QUERY
19999         4  1690832465  Sun May 03 16:28:55 PDT 2009  NO_QUERY

                 user                                               text  \
0          alicatpurr  My moonstone pendant fell off today, somewhere...
1            joshwehe  Watching baseball tonight and saying goodbye t...
2          qwerkyqook  RIP cute black mac book. Sorry about the olive...
3             Lizfig3  @pandafandanga werd. I miss him. Hell man, I m...
4      sweet_ctstrphe  lost my  voice  we must only talk through visi...
...               ...                                                ...
19995        JaqStone  @charini Hi, Charini. I see you found my bless...
19996     arrogantass  is about to get her blog on! Methinks you will...
19997            MzzV  Too much running around today but at least it ...
19998   Dutch_Patrick  @cristina_jacob  thanks for the follow, i hope...
19999       twicullen  RE BDAY: Okay everyone is welcome to come, if ...

      new_date
0       6/5/09
1       6/5/09
2       6/5/09
3       6/5/09
4       6/5/09
...        ...
19995   5/3/09
19996   5/3/09
19997   5/3/09
19998   5/3/09
19999   5/3/09

[20000 rows x 7 columns]

In [6]:
# Upload files to S3 bucket
s3.Bucket('nayanb-bucket').upload_file(Filename='..\Resources\sentiment_analysis_10k.csv', Key='sentiment_data.csv')

In [7]:
# list of the all objects in our bucket
for obj in s3.Bucket('nayanb-bucket').objects.all():
    print(obj)

s3.ObjectSummary(bucket_name='nayanb-bucket', key='sentiment_analysis_10k.csv')
s3.ObjectSummary(bucket_name='nayanb-bucket', key='sentiment_data.csv')

In [8]:
# Download file and read from disc
s3.Bucket('nayanb-bucket').download_file(Key='sentiment_data.csv', Filename='foo2.csv')
pd.read_csv('foo2.csv', index_col=0, encoding = "ISO-8859-1")

,id,date,query,user,text,new_date
polarity,,,,,,
0,2051199119,Fri Jun 05 21:04:50 PDT 2009,NO_QUERY,alicatpurr,"My moonstone pendant fell off today, somewhere...",6/5/09
0,2051199378,Fri Jun 05 21:04:56 PDT 2009,NO_QUERY,joshwehe,Watching baseball tonight and saying goodbye t...,6/5/09
0,2051200441,Fri Jun 05 21:05:17 PDT 2009,NO_QUERY,qwerkyqook,RIP cute black mac book. Sorry about the olive...,6/5/09
0,2051201409,Fri Jun 05 21:05:36 PDT 2009,NO_QUERY,Lizfig3,"@pandafandanga werd. I miss him. Hell man, I m...",6/5/09
0,2051201881,Fri Jun 05 21:05:46 PDT 2009,NO_QUERY,sweet_ctstrphe,lost my voice we must only talk through visi...,6/5/09
...,...,...,...,...,...,...
4,1690832374,Sun May 03 16:28:55 PDT 2009,NO_QUERY,JaqStone,"@charini Hi, Charini. I see you found my bless...",5/3/09
4,1690832378,Sun May 03 16:28:55 PDT 2009,NO_QUERY,arrogantass,is about to get her blog on! Methinks you will...,5/3/09
4,1690832412,Sun May 03 16:28:55 PDT 2009,NO_QUERY,MzzV,Too much running around today but at least it ...,5/3/09
4,1690832415,Sun May 03 16:28:55 PDT 2009,NO_QUERY,Dutch_Patrick,"@cristina_jacob thanks for the follow, i hope...",5/3/09
4,1690832465,Sun May 03 16:28:55 PDT 2009,NO_QUERY,twicullen,"RE BDAY: Okay everyone is welcome to come, if ...",5/3/09