In [18]:
import pandas as pd
import csv

In [19]:
# Read the analysis data file and store it in a pandas DataFrame.
twitter_data_to_load = "Resources/testdata.manual.2009.06.14.csv"
# Read the city data file and store it in a pandas DataFrame.
twitter_data_df = pd.read_csv(twitter_data_to_load)
twitter_data_df.head(10)

,Polarity,id,date,query,user,text
0,4,3,Mon May 11 03:17:40 UTC 2009,kindle2,tpryan,@stellargirl I loooooooovvvvvveee my Kindle2. ...
1,4,4,Mon May 11 03:18:03 UTC 2009,kindle2,vcu451,Reading my kindle2... Love it... Lee childs i...
2,4,5,Mon May 11 03:18:54 UTC 2009,kindle2,chadfu,"Ok, first assesment of the #kindle2 ...it fuck..."
3,4,6,Mon May 11 03:19:04 UTC 2009,kindle2,SIX15,@kenburbary You'll love your Kindle2. I've had...
4,4,7,Mon May 11 03:21:41 UTC 2009,kindle2,yamarama,@mikefish Fair enough. But i have the Kindle2...
5,4,8,Mon May 11 03:22:00 UTC 2009,kindle2,GeorgeVHulme,@richardebaker no. it is too big. I'm quite ha...
6,0,9,Mon May 11 03:22:30 UTC 2009,aig,Seth937,Fuck this economy. I hate aig and their non lo...
7,4,10,Mon May 11 03:26:10 UTC 2009,jquery,dcostalis,Jquery is my new best friend.
8,4,11,Mon May 11 03:27:15 UTC 2009,twitter,PJ_King,Loves twitter
9,4,12,Mon May 11 03:29:20 UTC 2009,obama,mandanicole,how can you not love Obama? he makes jokes abo...

In [24]:
twitter_data_df.dtypes

Polarity     int64
id           int64
date        object
query       object
user        object
text        object
dtype: object

In [25]:
twitter_data_df.count()

Polarity    498
id          498
date        498
query       498
user        498
text        498
dtype: int64

In [26]:
twitter_data_df.isnull().sum()

Polarity    0
id          0
date        0
query       0
user        0
text        0
dtype: int64